@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 135px 0;
  background: #261A2D;
  background-image: url(/img/bg-image.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100%;
  display: flex;
  justify-content: center;
}
body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 230px;
}
body main .main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}
body main .main__content .time__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
body main .main__content .time__name h1 {
  font-size: 22px;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  color: white;
}
body main .main__content .time__name h3 {
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
}
body main .main__content .taymer {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 32px;
}
body main .main__content .taymer .times {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main .main__content .taymer .times .time {
  position: relative;
  width: 148px;
  height: 140px;
  background: linear-gradient(180deg, #2d2e44 50%, #343650 50%);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 0 0 #191A23;
}
body main .main__content .taymer .times .time::before {
  position: absolute;
  top: 64px;
  left: -6px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #191A23;
}
body main .main__content .taymer .times .time::after {
  position: absolute;
  right: -6px;
  top: 64px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #191A23;
}
body main .main__content .taymer .times .time span {
  color: #FB5E84;
  font-size: 80px;
  line-height: 71px;
  letter-spacing: -2.4px;
}
body main .main__content .taymer .times p {
  font-size: 14px;
  letter-spacing: 5.919px;
  text-transform: uppercase;
  color: #8385A9;
}
body main .social__network {
  cursor: pointer;
  width: 136px;
}
body .modal__page {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
body .modal__page form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .modal__page form label {
  font-size: 18px;
  color: white;
}
body .modal__page form input {
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
}
body .modal__page form input::-moz-placeholder {
  font-size: 16px;
  color: black;
  opacity: 0.3;
}
body .modal__page form input:-ms-input-placeholder {
  font-size: 16px;
  color: black;
  opacity: 0.3;
}
body .modal__page form input::placeholder {
  font-size: 16px;
  color: black;
  opacity: 0.3;
}
body .modal__page button {
  width: 120px;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  background: #F87070;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url(/img/mobile-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 60px;
  }
  body main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 135px;
  }
  body main .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }
  body main .main__content .time__name {
    gap: 15px;
  }
  body main .main__content .time__name h1 {
    width: 327px;
    font-size: 18px;
    letter-spacing: 6.136px;
    text-align: center;
  }
  body main .main__content .time__name h3 {
    font-size: 18px;
  }
  body main .main__content .taymer {
    display: flex;
    gap: 16px;
  }
  body main .main__content .taymer .times {
    gap: 9px;
  }
  body main .main__content .taymer .times .time {
    position: relative;
    width: 70px;
    height: 71px;
    background: linear-gradient(180deg, #2d2e44 50%, #343650 50%);
    border-radius: 4px;
    box-shadow: 0 5px 0 0 #191A23;
  }
  body main .main__content .taymer .times .time::before {
    position: absolute;
    top: 35px;
    left: -3px;
    content: "";
    width: 6px;
    height: 6px;
  }
  body main .main__content .taymer .times .time::after {
    position: absolute;
    right: -3px;
    top: 35px;
    content: "";
    width: 6px;
    height: 6px;
  }
  body main .main__content .taymer .times .time span {
    font-size: 36px;
    letter-spacing: -1.08px;
  }
  body main .main__content .taymer .times p {
    font-size: 7px;
    letter-spacing: 2.959px;
  }
}/*# sourceMappingURL=style.css.map */