@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}
body{
  // width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #261A2D;
  background-image: url(/img/bg-image.svg);
  background-repeat: no-repeat;
  background-position: 0 -90px;
  background-size: 100%;


  display: flex;
  align-items: center;
  justify-content: center;
  main{
    width: 100%;
    display: flex;
    // display: none;
    flex-direction: column;
    align-items: center;
    gap: 255px;
    .main__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 104px;
      .time__name{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h1{
          font-size: 22px;
          letter-spacing: 7.5px;
          text-transform: uppercase;
          color: white;
        }
        h3{
          font-size: 22px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: white;
        }
      }
      .taymer{
        width: max-content;
        display: flex;
        gap: 32px;
        .times{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;
          .time{
            position: relative;
            width: 148px;
            height: 140px;
            background: rgb(52,54,80);
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before{
              position: absolute;
              top: 64px;
              left: -6px;
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 100%;
              background: #191A23;
            }
            &::after{
              position: absolute;
              right: -6px;
              top: 64px;
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 100%;
              background: #191A23;
            }
            &::shadow{
              display: block;
              width: 100%;
              height: 10px;
              background: red;
            }
            span{
              color: #FB5E84;
              font-size: 80px;
              line-height: 71px;
              letter-spacing: -2.4px;
            }
          }
          p{
            font-size: 14px;
            letter-spacing: 5.919px;
            text-transform: uppercase;
            color: #8385A9;
          }
        }
      }
    }
    .social__network{
      cursor: pointer;
    }
  }
  .modal__page{
    // display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    form{
      display: flex;
      flex-direction: column;
      gap: 10px;
      label{
        font-size: 18px;
        color: white;
      }
      input{
        width: 250px;
        padding: 15px;
        border-radius: 15px;
        border: none;
        outline: none;

        font-size: 16px;
        &::placeholder{
          font-size: 16px;
          color: black;
          opacity: 0.3;
        }
      }
    }
    button{
      width: 120px;
      padding: 10px 0;
      border-radius: 8px;
      border: none;
      background: #F87070;
      cursor: pointer;

      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

//MOBILE VERSION
@media only screen and (max-width:500px) {
}